{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Vlad Nikitin | Experience{% endblock title %}
{% block content %}
<br>
<br>
<br>
<h1>My experience goes here</h1>
<br>
<!-- START THE FEATURETTES -->
{% for job in jobs  %}
<br>
<hr class="featurette-divider">
<br>

<div class="row featurette">
{% if forloop.counter|divisibleby:2 %} <div class="col-md-7 order-md-2">
{% else %}
  <div class="col-md-7">
{% endif %}
    <h2 class="featurette-heading">{{ job.title }}</h2>
    <h4 class="featurette-heading text-muted">{{ job.period }}</h4>
    <p class="lead">{{ job.description }}</p>
  </div>
  {% if forloop.counter|divisibleby:2 %} <div class="col-md-5 order-md-1"> {% else %}
  <div class="col-md-5">
  {% endif %}
    {% thumbnail job.logo "400x250" crop=center upscale=True as im %}
    <img src="{{ im.url }}">
    {% endthumbnail %}

  </div>
</div>
{% endfor %}


<br>
<hr class="featurette-divider">
<br>
{% endblock content %}